* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

header {
  margin: 10px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 23px;
}

section {
  margin: 20px 20px;
}

a:link {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

li {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
}

ul {
  list-style: none;
}

footer {
  text-align: right;
}

.card {
  margin: 40px, 40px;
  border-radius: 27px;
}

.more-info,
.forecast-week {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.main-metadata {
  font-size: 35px;
  text-align: left;
  line-height: 30px;
}

.main-icon {
  font-size: 150px;
  color: #ffd66b;
  /* margin: 0 auto;
  display: inline-block;
  text-align: center; */
}

.metadata {
  line-height: 40px;
}

.fa-stream {
  transform: rotate(-90deg);
}
.temperature-display {
  font-size: 90px;
  margin: auto;
  display: inline;
  padding: 0;
  position: relative;
  left: 30px;
  top: -4px;
}

.temperature-display .active {
  color: black;
  cursor: default;
}

.temperature-display .active:hover {
  text-decoration: none;
}

.temperature-unit {
  font-size: 20px;
  text-align: left;
  position: relative;
  top: -49px;
}

.weather {
  margin: 0;
  font-size: 30px;
  text-transform: capitalize;
}

.weekday img {
  padding: 0;
  width: 60px;
}

#city-input {
  text-align: left;
}
